services:
  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cache
    # ports:
    #   - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "8085:8085"
    environment:
      # Override the database DSN to point to the db service
      DATABASE_DSN: "postgres://postgres:postgres@db:5432/cache?sslmode=disable"
    volumes:
      # Mount the local config file for other settings (like upstream_url)
      - ./.config.yaml:/app/config.yaml
    command: ["--config", "/app/config.yaml"]
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
